cluster:
  # Cluster name
  name: hacluster

  # Node which will create the cluster.
  # To create multiple clusters, set different
  # pillar data with different nodes as
  # firstnode. Each firstnode will create
  # a separate cluster
  init: minion-1

  # optional: nodes that should be removed
  # from the cluster.
  # remove: []

  # optional: Configure the watchdog device
  # watchdog: /dev/watchdog

  # optional: Network interface to use for cluster communication
  # interface: eth0

  # optional: UDP instead of multicast
  # unicast: True

  # optional: configure a virtual IP resource in cluster
  # admin_ip: 10.20.30.40

  # optional: configure SBD
  # sbd:
  #   # optional: configure an SBD device
  #   device: /dev/by-label/sbd-disk

  # optional: configure cluster
  # configure:
  #   method: update
  #   url: path_to_configfile
  #   is_xml: False


# -*- mode: yaml -*-
# vim: ft=yaml
